$blue: rgba(0, 60, 216, 1);
$blue-text: rgba(54, 108, 249, 1);
$white: rgba(255, 255, 255, 1);
$grey: rgba(169, 169, 169, 1);
$background: rgba(0, 2, 3, 1);
$violet: rgba(241, 100, 54, 1);
$background-footer: rgba(3, 8, 29, 1);
$black-text: rgba(0, 0, 0, 0.9);
