@use "/src/styles/variables";
@use "/src/styles/mixins";

.accelerate {
  @include mixins.flex-column;
  gap: 100px;
  background-color: variables.$background;
  padding: 150px 0;
  padding-left: 250px;
}

.accelerate_header {
  @include mixins.flex-column;
  gap: 48px;

  p {
    color: variables.$violet;
    text-transform: uppercase;
    font-weight: 500;
    @include mixins.p2;
  }

  h2 {
    color: variables.$white;
    font-weight: 600;
    @include mixins.h2;

    width: 50%;
  }
}

.accelerate_bottom {
  width: 100%;
  @include mixins.flex-column;
  gap: 24px;
}

.accelerate_list {
  width: 100%;
  @include mixins.flex-row;
  gap: 24px;
}

.accelerate_item {
  @include mixins.flex-column;
  gap: 24px;
}

.accelerate_item_img {
  width: 100%;
  aspect-ratio: 1 / 1.2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
  }
}

.accelerate_item_desc {
  @include mixins.flex-column;
  gap: 12px;

  h5 {
    @include mixins.p2;
    font-weight: 500;
    color: variables.$white;
  }

  p {
    @include mixins.p4;
    font-weight: 400;
    color: variables.$grey;
  }
}

.accelerate_mobile {
  display: none;
  width: 100%;
}

.swiper,
.swiper-wrapper {
  z-index: unset;
}

@media screen and (max-width: 1400px) {
  .accelerate {
    padding: 150px 0 150px 200px;
  }
}

@media screen and (max-width: 1350px) {
  .accelerate_header {
    h2 {
      width: 70%;
    }
  }
}

@media screen and (max-width: 1300px) {
  .accelerate {
    padding: 150px 0 150px 100px;
  }
}

@media screen and (max-width: 1024px) {
  .accelerate {
    gap: 48px;
    padding: 64px 20px;
  }

  .accelerate_header {
    gap: 32px;
  }
}

@media screen and (max-width: 830px) {
  .accelerate_item {
    gap: 20px;
  }

  .accelerate_item_desc {
    gap: 16px;
  }

  .accelerate_header {
    h2 {
      width: 100%;
    }
  }

  .accelerate_bottom {
    display: none;
  }

  .accelerate_mobile {
    display: block;
  }

  .accelerate_list {
    gap: 40px;
    @include mixins.flex-column;
  }
}
